@page
@model PioneerLigan.ViewModels._UserVM

<div class="row">
    <div class="col-md-6">
        <div class="d-flex align-items-center">
            <img src="@Model.ImgUrl" alt="Profile Picture" class="rounded-circle" style="width: 100px; height: 100px; object-fit: cover;">
            <div class="ml-3">
                <h3>@Model.FirstName @Model.LastName</h3>
            </div>
        </div>
        <div>
            <p>FourOhs: @Model.FourOhs</p>
            <p>ThreeOnes: @Model.ThreeOnes</p>
            <p>Win Percentage: @Model.WinPercentage</p>
            <p>League Wins: @Model.LeagueWins</p>
            <p>Group Stage Wins: @Model.GroupStageWins</p>
        </div>
    </div>
    <div class="col-md-6"></div>
</div>

<div>
    <h4>Latest Scores</h4>
    <ul>
        @foreach (var score in Model.LatestScores)
        {
            <li>@score.ToString()</li>
        }
    </ul>
</div>

