@page
@model PioneerLigan.Pages.Players.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.PlayerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.PlayerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.Events)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.Events)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.Points)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.Points)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.Wins)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.Wins)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.Losses)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.Losses)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.Ties)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.Ties)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Player?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
