@page
@model IndexModel
@{
    ViewData["Title"] = "Pioneerligan STHLM";

    int count = 1;
    var leagues = Model.LeagueVMs;
    var topPlayers = Model.TopPlayers;
}

<div class="row">
    <div class="col-12 text-center" id="logo-pio">PIONEER</div>
    <div class="col-12 text-center" id="logo-league">LIGAN</div>
    <div class="col-12 text-center" id="logo-sthlm">STHLM</div>
    <div class="col-12 text-center"><i>Presented by</i></div>
    <div class="col-12 text-center"><a href="https://dragonslair.se/"><img src="~/img/dl-logo.svg" alt="dragons_lair_logo" width="325px" class="pb-4" /></a></div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Autumn again!</h2><br />
        The autumn league will be run with 15 events starting on 20/8 and the final event will be 26/11.<br />
        Each players 9 best results will count for the final standings after which the top 12 players will be qualified for the final and<br />
        4 players will qualify from the qualifier tournament. Date qualifier is 30/11 and date for the final is 1/12.<br />
        <br />
        Entry for one event is 30kr. Proceeds will be added to the prize pool for the grand final.
    </div>
</div>
<div class="row mt-3 mb-1">
    <div class="col-sm-6 col-12 mb-3">
        <h5>Prizes per event (store credit):</h5>
        <ol>
            <li>4-0: 50kr</li>
            <li>3-0-1 and 3-1: 25kr</li>
        </ol>
    </div>
    <div class="col-sm-6 col-12 mb-3">
        <h5>Tie breakers:</h5>
        <ol>
            <li>Most 4-0 results</li>
            <li>Most 3-0-1 results</li>
            <li>Most 3-1 results</li>
            <li>Most 2-2 results</li>
            <li>Most played events</li>
            <li>Playoff match</li>
        </ol>
    </div>
    <div class="col-sm-6 col-12 mb-3" id="allTime">
        <h2>All time points leaders</h2>
        <table class="table table-striped table-dark table-responsive-stack" id="tableAll">
            <thead>
                <tr>
                    <th id="table-pos" scope="col">#</th>
                    <th scope="col">Player Name</th>
                    <th class="text-end hide-in-mobile" scope="col">GSW</th>
                    <th class="text-end hide-in-mobile" scope="col">LW</th>
                    <th class="text-end hide-in-mobile" scope="col">Points/Event</th>
                    <th class="text-end hide-in-mobile" scope="col">Win %</th>
                    <th class="text-end" scope="col">Points</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var topPlayer in topPlayers)
                {
                    <tr>
                        <th class="green-text" scope="row">@count</th>
                        <th scope="row">
                            <div class="green-text">
                                @topPlayer.StatBox
                            </div>
                        </th>
                        <td class="text-end hide-in-mobile">@topPlayer.GroupStageWins</td>
                        <td class="text-end hide-in-mobile">@topPlayer.LeagueWins</td>
                        <td class="text-end hide-in-mobile">@topPlayer.AvgPoints.ToString("0.00")</td>
                        <td class="text-end hide-in-mobile">@topPlayer.WinPercentage</td>
                        <td class="text-end">@topPlayer.LifeTimePoints</td>
                    </tr>
                    count++;
                }
            </tbody>
        </table>
        <span>GSW = Group Stage Winner | LW = League Wins</span>
    </div>
    @if (Model.MetaGame != null)
    {
        <div class="col-sm-6 col-12 mb-3" id="metaGame">
            <h2>Metagame for event on @Model.LatestEvent.ToString("dd/MM/yy")</h2>
            <table class="table table-striped table-dark table-responsive-stack" id="tableAll">
                <thead>
                    <tr>
                        <th scope="col">Deck</th>
                        <th class="text-end" scope="col">#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var deck in Model.MetaGame)
                    {
                        <tr>
                            <th scope="row">@deck.Key</th>
                            <td class="text-end">@deck.Value</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
<div class="row mt-3 mb-1">
    <div class="col-sm-6 col-12 pink-text">
        <i>(results in pink are NOT counted)</i>
    </div>
</div>
@foreach (var league in leagues)
{
    {
        count = 1;
    }
    <div class="row">
        <div class="col-12 main-event-table">
            <h2>@league.Name</h2>
            @if (league.Winner != string.Empty)
            {
                <div class="row mb-1 winners"><div class="col-6" style="text-align:left">Champion: @league.Winner</div><div class="col-6" style="text-align:right">Group Stage Winner: @league.GroupStageWinner</div></div>
            }
            <table class="table table-striped table-dark table-responsive-stack" id="tableOne">
                <thead>
                    <tr>
                        <th id="table-pos" scope="col">#</th>
                        <th scope="col">Player Name</th>
                        @foreach (var e in league.Events)
                        {
                            <th class="text-end hide-in-mobile" scope="col">@e.Date.ToString("dd/MM")</th>
                        }
                        <th class="text-end" scope="col">Points</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in league.PlayersVMs)
                    {
                        @if (count < 13)
                        {
                            <tr>
                                <th class="green-text" scope="row">@count</th>
                                <th scope="row">
                                    <div class="green-text">
                                        @p.StatBox
                                    </div>
                                </th>
                                @foreach (var result in p.PlayerResults)
                                {
                                    @if (result.CountThis)
                                    {
                                        @if (result.PlayedEvent)
                                        {
                                            <td class="text-end hide-in-mobile">@result.Result</td>
                                        }
                                        else
                                        {
                                            <td class="text-end hide-in-mobile">-</td>
                                        }
                                    }
                                    else
                                    {
                                        @if (result.PlayedEvent)
                                        {
                                            <td class="text-end hide-in-mobile pink-text">(@result.Result)</td>
                                        }
                                        else
                                        {
                                            <td class="text-end hide-in-mobile pink-text">(-)</td>
                                        }
                                    }
                                }
                                <td class="text-end">@p.DiscountedPoints <span class="pink-text">(@p.CurrentLeaguePoints)</span></td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <th class="blue-text" scope="row">@count</th>
                                <th scope="row">
                                    <div class="blue-text">
                                        @p.StatBox
                                    </div>
                                </th>
                                @foreach (var result in p.PlayerResults)
                                {
                                    @if (result.CountThis)
                                    {
                                        @if (result.PlayedEvent)
                                        {
                                            <td class="text-end hide-in-mobile">@result.Result</td>
                                        }
                                        else
                                        {
                                            <td class="text-end hide-in-mobile">-</td>
                                        }
                                    }
                                    else
                                    {
                                        @if (result.PlayedEvent)
                                        {
                                            <td class="text-end hide-in-mobile pink-text">(@result.Result)</td>
                                        }
                                        else
                                        {
                                            <td class="text-end hide-in-mobile pink-text">(-)</td>
                                        }
                                    }
                                }
                                <td class="text-end">@p.DiscountedPoints <span class="pink-text">(@p.CurrentLeaguePoints)</span></td>
                            </tr>
                        }
                        count++;
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <i>(Click to see event results)</i>
    </div>
    <div class="row mb-5">
        @foreach (var e in league.LeagueEventVMs)
        {
            <div class="col-sm-12 col-md-6 col-lg-4 event-table">
                <span onclick="Collapser(this)" class="event-header">League event: @e.Date.ToShortDateString()</span>
                <div id="@e.cssId" class="hideElement">
                    <table class="table table-striped table-dark">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th class="text-end" scope="col">Points</th>
                                <th class="text-end" scope="col">OMW%</th>
                                <th class="text-end" scope="col">GW%</th>
                                <th class="text-end" scope="col">OGW%</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var p in e.Results)
                            {
                                <tr>
                                    <th scope="row">@p.PlayerName</th>
                                    <td class="text-end">@p.Points</td>
                                    <td class="text-end">@p.OMW.ToString("00.0")%</td>
                                    <td class="text-end">@p.GW.ToString("00.0")%</td>
                                    <td class="text-end">@p.OGW.ToString("00.0")%</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
}
