@page
@model PioneerLigan.Pages.MetaGame.CreateModel
@using PioneerLigan.Constants

@{
    ViewData["Title"] = "Create";
}

<h1>Create MetaGame</h1>

<h4>MetaGame</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label>Select Existing Deck:</label>
                <select asp-for="Deck.Id" class="form-control">
                    <option value="">-- Select Deck --</option>
                    @foreach (var deck in Model.ExistingDecks)
                    {
                        <option value="@deck.Id">@deck.Name</option>
                    }
                </select>
                <span asp-validation-for="Deck.Id" class="text-danger"></span>
            </div>

            <!-- Add New Deck Section -->
            <div class="form-group">
                <label>New Deck Name:</label>
                <input asp-for="Deck.Name" class="form-control" />
                <span asp-validation-for="Deck.Name" class="text-danger"></span>
            </div>

            <!-- Deck SuperArchType Dropdown -->
            <div class="form-group">
                <label asp-for="Deck.SuperArchType"></label>
                <select asp-for="Deck.SuperArchType" class="form-control">
                    <option value="">-- Select SuperArchType --</option>
                    @foreach (var superArchType in Enum.GetNames(typeof(Constants.SuperArchType)))
                    {
                        <option value="@superArchType">@superArchType</option>
                    }
                </select>
                <span asp-validation-for="Deck.SuperArchType" class="text-danger"></span>
            </div>

            <!-- Deck ColorAffiliation Dropdown -->
            <div class="form-group">
                <label asp-for="Deck.ColorAffiliation"></label>
                <select asp-for="Deck.ColorAffiliation" class="form-control">
                    <option value="">-- Select ColorAffiliation --</option>
                    @foreach (var colorAffiliation in Enum.GetNames(typeof(Constants.ColorAffiliation)))
                    {
                        <option value="@colorAffiliation">@colorAffiliation</option>
                    }
                </select>
                <span asp-validation-for="Deck.ColorAffiliation" class="text-danger"></span>
            </div>

            <!-- Add Deck Button -->
            <input type="hidden" name="id" value="@Model.MetaGameId" />
            <div class="form-group">
                <button type="submit" name="action" value="AddDeck" class="btn btn-primary">Add Deck</button>
            </div>

            <!-- Create Metagame Button -->
            <div class="form-group">
                <button type="submit" name="action" value="Done" class="btn btn-success">Done</button>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div>
            League event date: @Model.MetaGame.LeagueEvent.Date.ToString("dd/MM/yyyy")
        </div>
        @foreach (var deck in Model.DeckCounts)
        {
            <div>
                <h4>@deck.Key X @deck.Value</h4>
            </div>
        }
    </div>
</div>
